.logout-button {
  --mat-button-filled-container-color: var(--mat-sys-error);
  --mat-button-filled-label-text-color: var(--mat-sys-on-error);
  --mat-button-filled-state-layer-color: var(--mat-sys-on-error);
  --mat-button-filled-ripple-color: var(--mat-sys-on-error);
}
